*{
    margin: 0;
    cursor: url("../img/arrow.cur"), auto;
    
}
@import 'https://fonts.googleapis.com/css?family=Raleway';

/*COTE DROITE */
.fond_droite{
    height: 100vh;
    width: 75vw;
    background-color:#202020;
    position: fixed;
    left: 25vw;
    display: flex;

}
h1{
    color:#DFDFDF;
    margin-bottom: 2vh;
    padding-left: 2vw ;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    
  }
.container_wrap{
    margin: auto;
    width: 55vw;
}
.wrap2, .wrap1{
    margin-top: 2,1vh;
}
.espace{
    height: 4.2vh;
    width:100%;
    background-color: #202020;
}
.container_wrap img, .container_wrap .cinema{
    width: 200px;
    height: 200px;
    margin-left:2.3vw;
    border: 1px solid #DFDFDF;
    display: inline-block;
}

p{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: #1A6D64;
    margin: 0;
    border-color: aquamarine;
}








/*COTE GAUCHE */
.slide_dessus{
    background-color: #DFDFDF;
    height: 100vh;
    width: 25vw;
}
.slide_dessus .img_fond_key{
    width: 100%;
    position: relative;
    top: -5vh;
    z-index: 0;
}
.slide_dessus .img_quote{
    width: 50%;
    top: 5%;
    left: 5%;
    position: relative;
    z-index: 10;
}
.bouton{
    position: fixed;
    bottom: -2px;
    display: block;
    height: 11vh;
    width: 25vw;
    z-index: 10;
}


 .slide_dessous{
     position: fixed;
     width: 25vw;
     height: 100vh;
     background-color: #DFDFDF;
     display: block;
     
}
.slide_dessous #menu_block{
    /* background-color: rebeccapurple; */
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 100%;
     height: 85%;

    
}
.slide_dessous a, .slide_dessous p{
    display: block;
    border: 3px solid #DFDFDF;
    font-size: 1.5vw;
    text-align: center;
    line-height: 75px;
    height: 10%;
    background-color: #202020;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #DFDFDF;
    transition: background-color 0.5s ease;
}
.slide_dessous .here{
    color: #1A6D64;
    background-color: #DFDFDF;
    font-weight: 600;
}
.slide_dessous a:hover{
    color:#202020;
    /* border: 3px solid #202020; */
    background-color: #DFDFDF;

}
.slide_dessous h1{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.7vw;

}

.fond_gauche{
    position: fixed;
    z-index: -10;
     width: 25vw;
     height: 90vh;
     background-color: #DFDFDF;
}
